1.아래와 같은 구조를 갖는  데이터 프레임에서    (원본 객체 변경: iplace=True)  
1) 이름을 index로 설정하고  
2) '취미' 열을 삭제 하고    
3) '나라' 행을 삭제 하고    
4) '지민' 행을 이름 인덱스를 이용하여  추가 하여  '16, 중등, 효성'    데이터를 저장하고  
5) column 이름 '학교'를 '교명'으로 바꾸고  
6) 우석과 인아의 교명을 선경1, 한국1로 변경하고  
7) 나이 기준 어린  순으로 행을 정렬 한 후  
8) '국적'열을 추가 한 후 모두 '한국' 으로 저장 한 후  
9) print하는 code를 작성 하시오  


|이름|나이|구분|취미|학교 |
|-|-|-|-|-|
|우석|17|고등|독서|선경|
|인아|14|중등|산책|한국|
|나라|12|초등|축구|우성|
|민정|19|고등|독서|효성|
|서준|15|중등|농구|상성|

In [ ]:
%reset -f
#과제 1
import pandas as pd
student_data = {'이름':['우석', '인아', '나라', '민정', '서준'],
                '나이': [17,14,12,19,15], 
                '구분':['고등','중등','초등','고등','중등'], 
                '취미':['독서','산책','축구', '독서','농구'], 
                '학교':['선경','한국','우성','효성','상성'] }   

df=pd.DataFrame(student_data)

df.set_index('이름', inplace=True)
df.drop(['취미'], axis = 1, inplace=True)
df.drop(['나라'], inplace=True)
df.loc['지민'] = [16, '중등', '효성']
df.rename(columns={'학교' : '교명'}, inplace=True)
df.loc[['우석', '인아'], ['교명']] = ['선경1', '한국1']
df.sort_values(by='나이', ascending=True, inplace=True)
df['국적'] = '한국'
print(df)

    나이  구분   교명  국적
이름
인아  14  중등  한국1  한국
서준  15  중등   상성  한국
지민  16  중등   효성  한국
우석  17  고등  선경1  한국
민정  19  고등   효성  한국

2.아래와 같은 구조를 갖는  데이터 프레임에서    (원본 객체 변경: iplace=True)  
1) '인문' 열을 추가 하여 영어와 국어 성적의 합계를 저장하고  
2) '과학' 열을 추가 하여 물리와 화학 성적의 합계를 저장하고  
3)  과학 성적으로 내림 차순으로 정렬하고  
4) print하는 code를 작성하시오.   


|이름|국어|영어|물리|화학|
|-|-|-|-|-|
|우석|90|85|70|50|
|인아|80|90|80|70|
|나라|75|85|80|90|
|민정|90|95|90|100|

In [ ]:
%reset -f
#과제 2
import pandas as pd
student_data = {'이름':['우석', '인아', '나라', '민정'],
                '국어':[90,80,75,90], 
                '영어':[85,90,85,95], 
                '물리':[70,80,80,90], 
                '화학':[50,70,90,100] }    
df=pd.DataFrame(student_data)

df['인문'] = df['국어'] + df['영어']
df['과학'] = df['물리'] + df['화학']
df.sort_values(by='과학', ascending=False, inplace = True)
print(df)

   이름  국어  영어  물리   화학   인문   과학
3  민정  90  95  90  100  185  190
2  나라  75  85  80   90  160  170
1  인아  80  90  80   70  170  150
0  우석  90  85  70   50  175  120

3.1) iris3.csv 파일을 읽고 (첫번째 행을 column 이름으로)  
2) column 이름을 'feat1','feat2','feat3','feat4','name'으로 변경하고  
3) 처음 3개 행을 print하고  
4) 요약 정보를 print하고  
5) 통계 정보를 print하고  
6) 각 열 데이터의 고유값 개수를 print하고  
7) 'feat2' 열의 최대값 print  
8) 'feat4' 열의 표준 편차 print   
9) 'feat1'과 'feat3'의 상관계수를 출력하는 코드를 작성 하시오.

In [ ]:
%reset -f
#과제 3
import pandas as pd

df = pd.read_csv('/content/iris3.csv')
df.rename(columns={'sepal_length':'feat1', 'sepal_width':'feat2', 'petal_length':'feat3', 'petal_width':'feat4', 'species':'name'}, inplace=True)

print(df.iloc[0:2])
print()
print(df.shape)
print()
print(df.describe())
print()
print(df['feat1'].value_counts())
print()
print(df['feat2'].value_counts())
print()
print(df['feat3'].value_counts())
print()
print(df['feat4'].value_counts())
print()
print(df['name'].value_counts())
print()
print(df['feat2'].max())
print()
print(df['feat4'].std())
print()
print(df[['feat1','feat3']].corr())

   feat1  feat2  feat3  feat4         name
0    5.1    3.5    1.4    0.2  Iris-setosa
1    4.9    3.0    1.4    0.2  Iris-setosa

(150, 5)

            feat1       feat2       feat3       feat4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: feat1, dtype: int64

3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: feat2, dtype: int64

1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: feat3, dtype: int64

0.2    28
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
0.1     6
2.1     6
2.0     6
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: feat4, dtype: int64

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: name, dtype: int64

4.4

0.7631607417008411

          feat1     feat3
feat1  1.000000  0.871754
feat3  0.871754  1.000000

4.code에서 정의한 데이터에서   
1) 하나라도 NaN이 있는 행은 삭제하고 print하는 code  (df1에 저장 후 print)    
2) 모든 값이  NaN인  행을 삭제하고 print하는 code  (df2에 저장 후 print)   
3) NaN이 포함된 행을 삭제할때 데이터가 4개 이상 있어야 남기도록 하고  (df3)   print하는 code를 작성 하시오

In [ ]:
%reset -f
#과제 4
import pandas as pd

import numpy as np

raw_data = {'name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
            'age': [42, np.nan, 36, np.nan, 73], 
            'math': [4, np.nan, np.nan, 2, 3],
            'physics': [25, np.nan, np.nan, 62, 70],
             'korean': [25, np.nan, np.nan, 62, 70]}

df = pd.DataFrame(raw_data)
print(df,'\n')

df1=df[:]
df1.dropna(how='any', inplace=True)
print(df1, '\n')

df2 = df[:]
df2.dropna(how='all', inplace=True)
print(df2, '\n')

df3 = df[:]
df3.dropna(thresh=4, inplace=True)
print(df3, '\n')

    name   age  math  physics  korean
0  Jason  42.0   4.0     25.0    25.0
1    NaN   NaN   NaN      NaN     NaN
2   Tina  36.0   NaN      NaN     NaN
3   Jake   NaN   2.0     62.0    62.0
4    Amy  73.0   3.0     70.0    70.0

    name   age  math  physics  korean
0  Jason  42.0   4.0     25.0    25.0
4    Amy  73.0   3.0     70.0    70.0

    name   age  math  physics  korean
0  Jason  42.0   4.0     25.0    25.0
2   Tina  36.0   NaN      NaN     NaN
3   Jake   NaN   2.0     62.0    62.0
4    Amy  73.0   3.0     70.0    70.0

    name   age  math  physics  korean
0  Jason  42.0   4.0     25.0    25.0
3   Jake   NaN   2.0     62.0    62.0
4    Amy  73.0   3.0     70.0    70.0

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

5.1) 'exam1.csv'파일을 읽고 (첫번째 행이 열이름이 되도록)   
2) english의 결측치는 0으로 치환하고     
3) math의 결측치는 math의 평균 값으로 치환하고   
4) nclass의 결측치는 앞에 값으로 치환하고  
5) print하는 code를 작성하시오  
(inplace=True 사용)

In [ ]:
%reset -f
#과제 5
import pandas as pd
df = pd.read_csv('/content/exam1.csv')
df['english'].fillna(0, inplace=True)
df['math'].fillna(df['math'].mean(), inplace=True)
df['nclass'].fillna(method='ffill', inplace=True)

print(df)

    id  nclass       math  english  science
0    1     1.0  50.000000     98.0     50.0
1    2     1.0  60.000000     97.0     60.0
2    3     1.0  45.000000     86.0     78.0
3    4     1.0  30.000000     98.0     58.0
4    5     2.0  25.000000     80.0     65.0
5    6     2.0  57.842105     89.0     98.0
6    7     2.0  80.000000     90.0     45.0
7    8     2.0  90.000000     78.0     25.0
8    9     3.0  20.000000     98.0     15.0
9   10     3.0  50.000000     98.0     45.0
10  11     3.0  65.000000     65.0     65.0
11  12     3.0  45.000000      0.0     32.0
12  13     4.0  46.000000     98.0     65.0
13  14     4.0  48.000000     87.0     12.0
14  15     4.0  75.000000     56.0     78.0
15  16     4.0  58.000000     98.0      NaN
16  17     5.0  65.000000     68.0     98.0
17  18     5.0  80.000000     78.0     90.0
18  19     5.0  89.000000     68.0     87.0
19  20     5.0  78.000000     83.0     58.0

6.아래 code에서 정의하는 데이터 프레임에서    
1) 중복 행을 제거 하고 print하는 code(df1)  
2) c1,c3을 기준으로 중복행을 제거 하고 print하는 code(df2)  
를 작성 하시오.

In [ ]:
%reset -f
#과제 6
import pandas as pd

df=pd.DataFrame({'c1':['a','a','b','a','b'],
                 'c2':[2,1,2,1,2],
                 'c3':[1,1,2,2,2]})
print(df)
print()

df1 = df.drop_duplicates()
print(df1, '\n')
df2 = df.drop_duplicates(subset=['c1', 'c3'])
print(df2, '\n')

  c1  c2  c3
0  a   2   1
1  a   1   1
2  b   2   2
3  a   1   2
4  b   2   2

  c1  c2  c3
0  a   2   1
1  a   1   1
2  b   2   2
3  a   1   2

  c1  c2  c3
0  a   2   1
2  b   2   2
3  a   1   2

7.1) wine1.cse 파일을 읽고 (첫행부터 데이터로 읽음)  
2) column 이름을 'country', 'year','feat1','fest2','fest3','feat4'로 지정하고  
3) country의 누락 데이터는 france로 저장하고  
4) feat1, feat2, feat3, feat4의 누락 데이터는 각 열의 평균으로 저장하고  
5) 'country','year' 기준으로 중복데이터를 제거 하고  
6) 'feat1-2' 열을 추가 하여 feat1과 feat2의 핪의 값을 저장하고  
7) 'year'를 기준으로 오름 차순으로 출력하는 code를 작성 하시오.

In [ ]:
%reset -f
#과제 7
import pandas as pd

df = pd.read_csv('/content/wine1.csv', header=0)
#df.loc[0]=0
df.columns=['country', 'year','feat1','feat2','feat3','feat4']
df['country'].fillna('france', inplace=True)
df['feat1'].fillna(df['feat1'].mean(), inplace=True)
df['feat2'].fillna(df['feat2'].mean(), inplace=True)
df['feat3'].fillna(df['feat3'].mean(), inplace=True)
df['feat4'].fillna(df['feat4'].mean(), inplace=True)

df = df.drop_duplicates(subset=['country', 'year'])
df['feat1-2'] = df['feat1']+df['feat2']

df = df.sort_values(by='year', ascending=True)

print(df)

  country  year      feat1  feat2  feat3     feat4    feat1-2
5   italy  1980   7.900000   0.60   0.06  1.600000   8.500000
0  france  1990   7.800000   0.88   0.00  2.600000   8.680000
3     usa  1990   7.400000   0.70   0.00  2.366667   8.100000
4  france  1995   7.400000   0.66   0.00  1.800000   8.060000
8     usa  1995   7.500000   0.50   0.36  6.100000   8.000000
2   chile  2000  11.200000   0.28   0.56  1.900000  11.480000
7     usa  2000   7.800000   0.58   0.02  2.000000   8.380000
1   italy  2010   7.966667   0.76   0.04  2.300000   8.726667

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app