1.patientinfos.csv 파일의 환자 정보 중 
1)중복된 데이타의 개수를 print하고     
2)중복된 데이타를 제거하는 code를 작성하시오.

In [ ]:
%reset -f 
import pandas as pd

df = pd.read_csv("/content/PatientInfos.csv")

#1)
print(df.duplicated().sum(),'\n')

#2)
print(df.drop_duplicates())

5

    patient_id  global_num     sex  birth_year  age country province  \
0   1000000001           2    male        1964  50s   Korea    Seoul
1   1000000002           5    male        1987  30s   Korea    Seoul
2   1000000003           6    male        1964  50s   Korea    Seoul
3   1000000004           7    male        1991  20s   Korea    Seoul
4   1000000005           9  female        1992  20s   Korea    Seoul
..         ...         ...     ...         ...  ...     ...      ...
80  1000000076        3054    male        1977  40s   Korea    Seoul
81  1000000077        3046  female        1991  20s   Korea    Seoul
82  1000000078        3261    male        1974  40s   Korea    Seoul
83  1000000079        3262  female        2003  10s   Korea    Seoul
84  1000000080        3263  female        1996  20s   Korea    Seoul

             city
0      Gangseo-gu
1     Jungnang-gu
2       Jongno-gu
3         Mapo-gu
4     Seongbuk-gu
..            ...
80  Dongdaemun-gu
81   Seongdong-gu
82       Nowon-gu
83       Nowon-gu
84       Nowon-gu

[80 rows x 8 columns]

2.1)'mpg.csv'에 fl 열을 기준ㅇ로  'fuel.csv'파일정보를 병합하고  
2) fl 열 기준으로 group으로 나누어 'displ'값의 평균을 print하는 code를 작성하시오,

In [ ]:
%reset -f 
import numpy as np
import pandas as pd

df1 = pd.read_csv("/content/mpg.csv")
df2 = pd.read_csv("/content/fuel.csv")

df_m = pd.merge(df1, df2, how='left', on='fl')
df_g = df_m.groupby('fl')
result = df_g['displ'].mean()
print(result)

fl
c    1.800000
d    3.040000
e    4.675000
p    3.263462
r    3.501786
Name: displ, dtype: float64

3.'exam.csv' 파일을 읽고
1) nclass와 year 을 기준으로 group을 나누고 group 별 'math','english','science' 평균을 출력하고  
2) 'math_pass' 라는 열을 추가 하고 math 점수가 80이상이면 'pass' 아니면 'fail' 이라고 저장하고   
3) 'eng_pass' 라는 열을 추가 하고 english 점수가 90이상이면 'pass' 아니면 'fail' 이라고 저장하고     
3) 'math_pass','eng_pass'를 기준으로 group을 나눈 후 group별 science 평균을 print하는   
code를 작성하시오

In [ ]:
%reset -f 
import numpy as np
import pandas as pd

df = pd.read_csv("/content/exam.csv")

#1)
grouped1 = df.groupby(['nclass', 'year'])
result1 = grouped1['math','english','science'].mean()
print(result1,'\n')

def math80(a):
  if a>=80:
    return "pass"
  else :
    return "fail"
def eng90(a):
  if a>=90:
    return "pass"
  else :
    return "fail"

df['math_pass'] = df.apply(lambda x: math80(x['math']) axis=1)
#2)
df['math_pass'] = np.where(df['math'] >= 80, 'pass', 'fail')

#3)
df['eng_pass'] = np.where(df['english'] >= 90, 'pass', 'fail')

#4)
grouped2 = df.groupby(['math_pass', 'eng_pass'])
result2 = grouped2['science'].mean()
print(result2,'\n')

             math  english  science
nclass year
1      1     50.0     98.0     90.0
       2     60.0     97.0     60.0
       3     37.5     92.0     68.0
2      1     37.5     84.5     81.5
       2     80.0     90.0     90.0
       3     90.0     78.0     80.0
3      1     20.0     98.0     15.0
       2     57.5     81.5     67.5
       3     45.0     85.0     32.0
4      1     46.0     98.0     65.0
       2     48.0     87.0     12.0
       3     66.5     77.0     79.0
5      1     72.5     73.0     94.0
       2     89.0     68.0     87.0
       3     78.0     83.0     58.0

math_pass  eng_pass
fail       fail        67.666667
           pass        59.000000
pass       fail        85.666667
           pass        90.000000
Name: science, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

4.exams.csv 파일을 열고  
1) 데이터 프레임의 요약 정보를 print하고    
2) math 열의 데이터 type이 int가 될 수 있도록
  int가 아닌 데이터가 들어 있는 행을 삭제하고  
3) math열의 데이터 형을 int로 변경하고   
3) 요약 정보를 다시 print하는 code를 작성 하시오.

In [ ]:
%reset -f 
import pandas as pd
import numpy as np

df = pd.read_csv("/content/exam_s.csv")

#1)
print(df.info(),'\n')

#2)
df['math'].replace('#', np.nan, inplace = True)
df.dropna(subset = ['math'], axis = 0, inplace = True)

#3)
df['math'] = df['math'].astype('int')

#4)
print(df.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20 non-null     int64
 1   nclass   20 non-null     int64
 2   year     20 non-null     int64
 3   math     20 non-null     object
 4   english  20 non-null     int64
 5   science  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 19
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       17 non-null     int64
 1   nclass   17 non-null     int64
 2   year     17 non-null     int64
 3   math     17 non-null     int64
 4   english  17 non-null     int64
 5   science  17 non-null     int64
dtypes: int64(6)
memory usage: 952.0 bytes
None